

html{
    position:realtive;
    min-height: 100px;
}
body {
    margin-bottom: 60px;
}

.wrap{
    padding-bottom: 60px;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.swal2-container {
    z-index: 100000 !important;
}